@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1 {
  display: block;
  text-align: center;
  width: 100vw;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-bottom: 10vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor {
  display: inline-block;
  background: #cecaca;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
}

.contenedor-1:after {
  content: '';
  background: none;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
  border-bottom-color: #e68a00;
  border-top-color: #e68a00;
  top: -4px;
  left: -4px;
  -webkit-animation: spinny 1.5s linear infinite;
          animation: spinny 1.5s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50%, 60% {
    -webkit-transform: scale(1.25) rotate(90deg);
            transform: scale(1.25) rotate(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50%, 60% {
    -webkit-transform: scale(1.25) rotate(90deg);
            transform: scale(1.25) rotate(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

.contenedor-2:after, .contenedor-2:before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  background: #e68a00;
  -webkit-animation: menos 3s linear infinite;
          animation: menos 3s linear infinite;
}

.contenedor-2:before {
  -webkit-animation: menos 2s linear infinite;
          animation: menos 2s linear infinite;
}

@-webkit-keyframes menos {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes menos {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.contenedor-3::after {
  content: '';
  width: 4px;
  height: 55px;
  background-color: #e68a00;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  animation: spin 1.5s ease alternate-reverse infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.2;
    height: 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
    height: 50px;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.2;
    height: 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
    height: 50px;
  }
}

.contenedor-4 {
  background: none;
  border: 8px solid #cecaca;
  animation: saltar 1s alternate-reverse infinite;
  top: 35px;
}

.contenedor-4::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e68a00;
  position: absolute;
  right: 35px;
  top: 70px;
  animation: saltar 1s alternate-reverse infinite;
}

@-webkit-keyframes saltar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90%, 100% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
}

@keyframes saltar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90%, 100% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
}
/*# sourceMappingURL=carga.css.map */